:root {
    --primary-color: #1e90ff; /* Azul primário */
    --secondary-color: #00bfff; /* Azul claro */
    --accent-color:
    --background-color: #121212; /* Preto suave */
    --text-color: #b3b3b3; /* Cinza claro */
    --header-footer-bg: #282828; /* Cinza escuro */
    --button-bg: #1e90ff; /* Azul primário */
    --button-hover-bg: #1e90ff; /* Azul claro
