@import url('colors.css');

/* Definições básicas */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    background-color: var(--header-footer-bg);
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    margin-top: 1em;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
}

nav ul li a:hover {
    color: var(--accent-color);
    transform: scale(1.1);
    text-decoration: underline;
}

main {
    padding: 2em;
    max-width: 800px;
    margin: auto;
    background-color: var(--card-bg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

section {
    margin-bottom: 2em;
}

h2 {
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 0.5em;
}

.music-card, .artist-card {
    display: flex;
    align-items: center;
    border: 1px solid var(--card-border);
    padding: 1em;
    margin-bottom: 1em;
    background-color: var(--card-bg);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.music-card img, .artist-card img {
    max-width: 100px;
    margin-right: 1em;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 1em;
}

form input, form textarea {
    padding: 0.5em;
    margin-top: 0.5em;
    border: 1px solid var(--input-border);
    border-radius: 5px;
    font-family: inherit;
}

form button {
    margin-top: 1em;
    padding: 0.7em;
    background-color: var(--button-bg);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: inherit;
}

form button:hover {
    background-color: var(--button-hover-bg);
}

footer.disclaimer-primium {
    background-color: var(--header-footer-bg);
    color: #fff;
    padding: 2em 0;
    text-align: center;
}

footer .text {
    margin-bottom: 1em;
}

footer .button button {
    padding: 0.7em 1.5em;
    background-color: #fff;
    color: var(--button-bg);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: inherit;
}

footer .button button:hover {
    background-color: var(--button-hover-bg);
    color: #fff;
}
